*.safetensors
*.pt
*.bin
*.pth
*.h5
*.ckpt
data/
models/
checkpoints/
venv/
miniconda3/
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
Thumbs.db
archive/checkpoints/
filestructure.txt
filestructure.txt
